<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yezi.shop.web.dao.AreasDao">
    <resultMap id="BaseResultMap" type="pers.yezi.shop.web.model.Areas">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="areaid" jdbcType="VARCHAR" property="areaid"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="cityid" jdbcType="VARCHAR" property="cityid"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, areaid, area, cityid
  </sql>
    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_areas
        order by id desc
    </select>

</mapper>